.row-left-items{
    margin-right: 25px;
}

.new-action-btn{
    background-color: rgba(75, 106, 79, 1);
    padding-top:8px;
    padding-bottom:8px;
    padding-left:24px;
    padding-right:24px;
    display:flex;

}